<!-- Content Row -->
<div class="container d-flex h-100">
    <div class="row align-self-center w-100">
        <div class="col-5 mx-auto">
            
            <!-- card voter -->
            <div class="card shadow mb-4">
                <!-- card header -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Link Navigation</h6>
                </div>
                <!-- card header -->

                <!-- card body -->
                <div class="card-body table-responsive">

                    <table class="table">

                        <!-- table header -->
                        <thead>
                            <tr>
                                <th scope="col">Page</th>
                                <th scope="col">URL</th>
                            </tr>
                        </thead>
                        <!-- table header -->
                        
                        <!-- tabel content -->
                        <tbody>
                            <tr>
                                <td>Admin Login</td>
                                <td>
                                    <a href="/login">/login</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Voter Register</td>
                                <td>
                                    <a href="/register">/register</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Voter/Admin Forgot Password</td>
                                <td>
                                    <a href="/forgot-password">/forgot-password</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Voter/Admin Reset Password</td>
                                <td>
                                    <a href="/reset-password">/reset-password</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Voter List (public)</td>
                                <td>
                                    <a href="/public">/public</a>
                                </td>
                            </tr>
                        </tbody>
                        <!-- end tabel content -->

                    </table>

                </div>
                <!-- end card body -->

            </div>
            <!-- end card voter -->

        </div>
    </div>
</div>
<!-- End Content Row -->