<main class="form-signin">
    <form action="/forgot-password" method="post">
        <img class="mb-4" src="/EvB.png" alt="" width="120" height="120">
        <h1 class="h3 mb-3 fw-normal">Forgot Password</h1>

        <% if (flashMessage.errorMessage.length > 0 ) { %>
            <div class="alert alert-danger" role="alert" id="errorMessage">
                <%= flashMessage.errorMessage[0] %>
            </div>
        <% } %>
        <% if (flashMessage.successMessage.length > 0 ) { %>
            <div class="alert alert-success" role="alert" id="successMessage">
                <%= flashMessage.successMessage[0] %>
            </div>
        <% } %>
            
        <div class="input-group mb-3 form-floating">
            <input name="email" id="email" type="email" class="form-control" placeholder="Validator Email">
            <label for="floatingInput">Validator Email</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Reset Password</button>
        <p class="mt-5 mb-3 text-muted">&copy; rstx</p>
        <a href="/reset-password">Reset Password</a>

    </form>
</main>