<main class="form-signin">
    <form action="/login" method="post">
        <img class="mb-4" src="/EvB.png" alt="" width="120" height="120">
        <h1 class="h3 mb-3 fw-normal">EvB-validator Login</h1>

        <% if (flashMessage.errorMessage.length > 0) { %>
            <div class="alert alert-danger" role="alert" id="message">
                <%= flashMessage.errorMessage %>
            </div>
        <% } %>
        <% if (flashMessage.successMessage.length > 0) { %>
            <div class="alert alert-success" role="alert" id="message">
                <%= flashMessage.successMessage %>
            </div>
        <% } %>

        <div class="form-floating">
            <input name="username" type="text" class="form-control" id="username" placeholder="Username">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
            <input name="password" type="password" class="form-control" id="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
        <p class="mt-5 mb-3 text-muted">&copy; rstx</p>
    </form>
    <a href="/forgot-password">Forgot Password</a>
</main>