<main class="form-signin">
    <form action="/reset-password-2" method="post" id="form-reset-password">
        <img class="mb-4" src="/EvB.png" alt="EvB icon" width="120" height="120">
        <h1 class="h3 mb-3 fw-normal">EvB Reset Password</h1>


        <input type="hidden" name="reset_key" value="<%= validator.key %>">

        <div class="form-floating">
            <input name="email" id="email" type="text" class="form-control" placeholder="Email" value="<%= validator.email %>" readonly>
            <label for="floatingInput">Email</label>
        </div>

        <div class="form-floating">
            <input name="password" id="password" type="password" class="form-control" placeholder="Password" oninput="checkMatch()">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating">
            <input name="confirmPassword" id="confirmPassword" type="password" class="form-control" placeholder="Confirm Password" oninput="checkMatch()">
            <label for="floatingPassword">Confirm Password</label>
        </div>

        <!-- alert danger for password not match -->
        <div class="alert alert-danger" role="alert" id="passwordMatch">
            password is not match!
        </div>
        
        <!-- alert danger for password length -->
        <div class="alert alert-danger" role="alert" id="passwordLength">
            password must be at least 5 characters!
        </div>

        <% if (typeof error !='undefined' ) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>

        <button id="register" type="submit" class="w-100 btn btn-lg btn-primary" disabled>
            Create New Password
        </button>

        <p class="mt-5 mb-3 text-muted">&copy; rstx</p>
    </form>
</main>

<script>
    var form = document.getElementById("form-reset-password")
    document.getElementById("passwordLength").style.display = "none";
    document.getElementById("passwordMatch").style.display = "none";

    // check password and confirmation password
    function checkMatch() {
        var pass = document.getElementById("password").value;
        var confPass = document.getElementById("confirmPassword").value;
        var warning = document.getElementById("passwordMatch");
        var warning2 = document.getElementById("passwordLength")
        var register = document.getElementById("register")

        // if confirmation password is empty, registration button is disabled
        // if password & confirmation password isn't match, registration button is disabled, give warning
        // if password & confirmation password is match, registration button is enabled
        if (pass.length > 0 && confPass == "") {
            warning.style.display = "none";
            register.disabled = true;
        } else if (confPass !== pass) {
            warning.style.display = "block";
            register.disabled = true;
        } else {
            warning.style.display = "none";
            warning2.style.display = "none";
            register.disabled = false;
        }

        // check password length
        if (pass.length!==0 && pass.length<5) {
            warning2.style.display = "block";
            register.disabled = true;
        } else {
            warning2.style.display = "none";
        }
    }
</script>